<div class="jumbotron">
  <div class="container">
        <br><br>
<!--img src="assets/images/BrinovaSDS.jpg" class="img-responsive" width=1400 px height=150 px-->
<br>
<!-- <h2 style=color:red>Every job I took was really getting paid to learn about a new industry....</h2><br> -->
   <div class="row">
    <div class="col-lg-4">
      <h4 style="color:red"> Banking and Finance</h4>
              <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let i of BfList1">
              {{i}} 
          </li>
          </ul>
    </div>
  <div class="col-lg-4">
    <h4 style="color:red"> Manufacturing</h4>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let i of BfList2">
            {{i}} 
        </li>
        </ul>
    </div>
   </div>
</div>
</div>
