<br><br><br><br><br>
<div class="jumbotron">
<div class="container">
<div class="well bs-component col-lg-6">
  
<form id="gform" class="form-horizontal"  ngNoForm method="POST" class="pure-form pure-form-stacked" action="http://formspree.io/brinova.india@gmail.com">
    
  <fieldset>
    <legend>GET IN TOUCH</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
        <input type="text" class="form-control" id="inputName"  name="firstName"  placeholder="Name"  required>
    </div>

   <div class="form-group">
      <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
     
        <input type="text" class="form-control" id="inputPhone" name="phone"  placeholder="Phone">
     
    </div>
   
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
     
        <input type="email" class="form-control" id="inputEmail" name="email"  placeholder="Email" required>
    
    </div>
   
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"> Requirements </label>
     
        <textarea class="form-control" rows="4" cols="50" name="requirments" id="textArea" required></textarea>
     
    </div>
 

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-danger">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
<div class="col-lg-1">
</div>

<div class="well bs-component  mb-3 col-lg-5" style="max-width: 200rem;">
    <!-- <div class="card-header"></div> -->
    <div class="card-body text-info">
      <h4 class="card-title">Contact Info</h4>
      <p class="card-text">No 45 Advaitha Ashram Road 
         <br> Salem -636004
          .</p>
</div>  
</div>
</div>
</div>


