<div class="jumbotron">
      <div class="container">
            <br><br>
	 <img src="assets/images/BrinovaSDS.jpg" class="img-responsive" width=1140 px height=250 px>
  <br>
  <h3 style=color:red>We transform your vision in to a working product...</h3>
        <h4>  Custom Software Development</h4>
        <h4> Product development and Maintenance</h4><br>
  

<p style="font-size:15px">Every business has its own unique IT requirements to its respective domain and environment.Many of the businesses face difficulties beyond implementation of Off-the-shelf software packages that does not provide complete solution to their requirements and difficult in practice.
</p>

<p style="font-size:15px">
Brilliant Innovation Labs provides custom software development services where the client’s requirements 
and strategies are not sufficiently met by Off-the-shelf packages. 
Brilliant Innovation Labs works thoroughly with client in understanding, defining the requirements, 
Ideating, Architecting and designing the solution, test, implement and also integrate with other 
existing systems and platforms. 

</p><br>


<p style=color:red> With our custom software development services, we can help you in </p>
  
            <h4>Business analysis and requirements documentation</h4>
            <h4>Requirement analysis and feasibility</h4>
            <h4>Architecting, Designing and Tailored Implementation</h4>
  
    
</div>

</div>
